
<div  style = "background-image: url('/images/353298.jpg'); width: 100%; height: 100vh; ">
  <div class="row">
      <div class="col l4 push-l0 ">
          <div class="card white hoverable">

                  <div class="row">
                      <form class="col s12">
                          <div class="row">
                              <div class="input-field col s12">
                                  <i class="material-icons prefix teal-text text-accent-3">account_circle</i>
                                  <input id="icon_prefix" type="email" class="validate">
                                  <label for="icon_prefix">Email</label>
                              </div>
                              <div class="input-field col s12">
                                  <i class="material-icons prefix teal-text text-accent-3">lock</i>
                                  <input id="icon_telephone" type="password" class="validate">
                                  <label for="icon_telephone">Password</label>
                              </div>
                              <div class="col right">
                                  <button type="submit" class="waves-effect waves-light btn " id="btnIniciar"><span><i class="material-icons right">trending_flat</i>Iniciar Sesión</span></button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>

      </div>
  </div>
</div>
